.bgx{
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.bgp{
    background: #000000af;
}
.bgc{
    background: #00000098;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


